/* Sección Contact*/

.headerContacto,
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand";
}

.formularioTitulo {
  max-width: 550px;
  padding: 1.3rem 1.3rem 1rem 1rem;
  margin-bottom: 1.3rem;
  border-style: groove;
  border-color: rgb(24, 24, 24);
}

legend {
  font-weight: bold;
}

/* Sección Self */

.headerSelf {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.selfEventualmente {
  display: flex;
  flex-direction: column;
  align-items: center;
}
