/* estilos de artículo Música */
.headerMusica {
  font-size: 1.5em;
}

.articuloMusica1 {
  grid-area: articulo1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  img {
    max-height: 400px;
    max-width: 400px;
  }
}

.articuloMusica2 {
  grid-area: articulo2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  img {
    max-height: 400px;
    max-width: 400px;
  }
}

.title-article1 {
  grid-area: titulo1;
}

.title-article2 {
  grid-area: titulo2;
}

.favs {
  font-style: italic;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
  font-size: 17px;
}
/* Estilos de EPs 2019*/

.zacari,
.arawato,
.rauw {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  p {
    line-height: 1.2rem;
  }
}

.zacari img,
.arawato img,
.rauw img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  max-height: 400px;
  max-width: 350px;
}

.zacari img:hover,
.arawato img:hover,
.rauw img:hover {
  transform: rotate(-20deg);
}

.ep-title,
.p-title {
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
}

/*Estilos de MQEE: Febrero 2020*/

.arca,
.myke,
.sauce,
.ciudad {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    max-height: 400px;
    max-width: 350px;
  }
  p {
    line-height: 1.2rem;
  }
}
