/*estilos de sección Deportes */
.articuloDeporte1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    max-height: 400px;
    max-width: 350px;
  }
}

th,
td {
  text-align: center;
}

.clippers {
  color: darkblue;
}

.lakers {
  color: gold;
}

.nets {
  color: dimgray;
}

.sixers {
  color: darkred;
}

.bucks {
  color: darkgreen;
}

.wolves {
  color: aqua;
}

.gsw {
  color: yellow;
}

.basic-bg {
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  img {
    padding: 1rem;
    margin: 1rem;
    max-height: 550px;
    max-width: 450px;
  }
}

.other-bg {
  padding: 1.5rem;
  background-color: rgb(14, 6, 6);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  color: white;
  img {
    padding: 1rem;
    margin: 1rem;
    max-height: 550px;
    max-width: 450px;
  }
}
